TS2TG_LOGLEVEL=1
TS2TG_SLEEPINTERVAL=15
TS2TG_TELEGRAM_APITOKEN=123456:xxxxxx
TS2TG_TELEGRAM_CHATID=-1234567
TS2TG_TEAMSPEAK_BASEURL=http://example.com:10080/1
TS2TG_TEAMSPEAK_APIKEY=xxxxxxxxxxxx
TS2TG_TEAMSPEAK_JOINURL=https://example.com/redirect.html